{% load i18n admin_static %}

<div style="display: block;" id="{{ inline_admin_formset.formset.prefix }}-group" class="trans-form">
  <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>

    {{ inline_admin_formset.formset.management_form }}

    {{ inline_admin_formset.formset.non_form_errors }}

{% for inline_admin_form in inline_admin_formset %}
    <div class="inline-related{% if forloop.last %} empty-form last-related{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
  <h3><b>{{ inline_admin_formset.opts.verbose_name|title }}:</b>&nbsp;<span class="inline_label">{% if inline_admin_form.original %}{{ inline_admin_form.original }}{% else %}{% if not forloop.first and forloop.last %}#{{ forloop.counter }}{% endif %}{% endif %}</span>
    {% if inline_admin_form.show_url %}<a href="../../../r/{{ inline_admin_form.original_content_type_id }}/{{ inline_admin_form.original.id }}/">{% trans "View on site" %}</a>{% endif %}
    {% if inline_admin_formset.formset.can_delete and inline_admin_form.original %}<span class="delete">{{ inline_admin_form.deletion_field.field }} {{ inline_admin_form.deletion_field.label_tag }}</span>{% endif %}
  </h3>

  {% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}


  {% for fieldset in inline_admin_form %}
    {% include "admin/includes/fieldset.html" %}
  {% endfor %}

  {% if inline_admin_form.has_auto_field or inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}

  {{ inline_admin_form.fk_field.field }}
{#</div>#}
{% endfor %}

<script>
    {% spaceless %}
    var lang_data = {
        fields: [
        {% for inline_admin_form in inline_admin_formset %}
        {% if inline_admin_form.original and forloop.first %}
            {% for fieldset in inline_admin_form %}
            {% for line in fieldset %}
              {% for field in line %}
                    '{{ field.field.name }}',
              {% endfor %}
            {% endfor %}
            {% endfor %}
        {% endif %}
        {% endfor %}
        ],

        langs: {
            {% for inline_admin_form in inline_admin_formset %}
            {% if inline_admin_form.original %}
            '{{ inline_admin_form.original }}': {
                'id': '{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}'
            },
            {% endif %}
            {% endfor %}
        }
    };
    {% endspaceless %}
</script>
</div>
