{% get_static_prefix as STATIC_PREFIX %}


<!DOCTYPE html>
<html lang="en" ng-app="ticcet">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cratis rules tester</title>

    <!-- Bootstrap -->
    <link href="{{ STATIC_PREFIX }}bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/static/bower/jquery/jquery.js"></script>
    <script src="/static/bower/angular/angular.js"></script>
    <script src="/static/bower/ngstorage/ngStorage.min.js"></script>
    <script src="/static/js/cratis-rule-preview.js"></script>
  </head>
  <body>

    <div class="container">
        <div class="row">


        </div>
    </div>
  </body>
</html>