{% load cms_tags sekizai_tags %}

<html>
  <head>
      {% render_block "css" %}
  </head>
  <body>
      {% cms_toolbar %}

      {% placeholder base_content %}
      {% block base_content %}{% endblock %}
      {% render_block "js" %}
  </body>
</html>